<!DOCTYPE html>
<html>
<head>
<title>spring boot——websocket</title>
<script src="//cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdn.staticfile.org/sockjs-client/1.1.5/sockjs.min.js"></script>
<script src="//cdn.staticfile.org/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript">

    var url = "/my-websocket";
    var stompClient = null;

    function connect(url) {

        var websocket = new SockJS(url);
        stompClient = Stomp.over(websocket);

        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            console.log('连接成功【' + frame + '】');

            // 注册发送消息
            stompClient.subscribe('/topic/send', function(message) {
                console.log("receive: /topic/send: " + message.body);
            });
            // 注册推送时间回调
            stompClient.subscribe('/topic/callback', function(message) {
                console.log("receive: /topic/callback: " + message.body);
            });
        }

        function errorCallback(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            console.log("连接失败: " + error);

        }

        // 向服务器发起websocket连接并发送CONNECT帧
        stompClient.connect({}, connectCallback, errorCallback);
    }
    connect(url);
    setInterval(function(){
        if (stompClient.ws.readyState > 1) {
            console.log('try reconnect.');
            connect(url);
        }
    }, 6000);



    function disconnect() {
        console.log('dis')
        if (stompClient != null) {
            stompClient.disconnect();
        }
    }

    function send() {
        stompClient.send("/app/receive", {}, $('#message').val());
    }

    window.onbeforeunload = disconnect;


</script>
</head>
<body>

<h2>websocket</h2>

<button type="button" onclick="connect();">连接</button>
<button type="button" onclick="disconnect();">断开</button>
<br/>
<br/>
<div ng-show="data.connected">
    <label>{{data.time}}</label> <br/> <br/>
    <input type="text" id="message" placeholder="请输入内容..."/>
    <button onclick="send()" type="button">发送</button>
</div>
</body>
</html>


